<nav class="navbar navbar-default">
  <div class="header-container mb-5">
    <div class="toolbar">
      <div class="fa-3x m-3">
        <fa-icon alt="Magic Editor" class="logo" width="40" [icon]="faFileAlt">FileAlt</fa-icon>
      </div>
      <h2 width="40" class="mr-5 font-weight-bold title">Magic Editor</h2>

      <form class="form-header" name='documentsForm' (ngSubmit)="onAddDocument(documentsForm)" #documentsForm="ngForm">
        <div class="required-input-container">
          <div class="input-header">
            <input id='title-input' required minlength="3" [(ngModel)]='document.title' name='title' type="text"
              placeholder="Enter a title" #titleInputRef='ngModel' ngModel>
            <div class="alert alert-danger" style="z-index: 2;" *ngIf="titleInputRef.errors?.minlength">
              The minimum is 3 letters!
            </div>
            <div class="alert alert-success hideMe " style="z-index: 2;" *ngIf="documentsForm.submitted ">
              Alright!
            </div>
          </div>
          <div class="float-left mt-2 pl-3 text-danger" *ngIf="titleInputRef.errors?.required">
            * required!
          </div>
        </div>
        <div class="btn-header-update disabled" *ngIf='!isSave'>
          <app-button backgroundColor='#43A9FF' [disabled]="!titleInputRef.valid ? true : false" color='white'
            text='Update' type="submit">Update</app-button>
        </div>
        <div class="btn-header-save" *ngIf='isSave'>
          <app-button id='save-button' backgroundColor='#43A9FF' [disabled]="!titleInputRef.valid ? true : false" color='white'
            text='Save' type="submit">Save</app-button>
        </div>
      </form>
      <div class="form-header">

        <div>
          <app-button id='documents-hide-button' class="float-right mr-2" backgroundColor='#43A9FF' color='white' [text]='buttonName'
            (btnClick)='fetchSavedDocuments()'></app-button>
        </div>
      </div>
    </div>
  </div>
</nav>
