:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.header-container {
  margin-bottom: 80px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 10px;
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.btn-header {
  float: right;
  width: 300px;
}

.input-header {
  margin-right: 1px;
  position: relative;
  float:right;
}

.required-input-container{
  position: absolute;
  right: inherit;
  margin-right: 230px;
  width: 300px;
}


.input-header input {
  padding: 10px 15px;
}

.form-header {
  position:absolute;
  right: inherit;
  float: right;
  margin-right: 5px;
}

.btn-header-save {
  position: relative;
  right: inherit;
  float: right;
  border-radius: 5%;
  margin-right: 150px;
}

.btn-header-update {
  position: relative;
  right: inherit;
  float: right;
  border-radius: 5%;
  margin-right: 135px;
}

html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

.hideMe {
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}


@media only screen and (max-width: 950px) {
  .title {
    display: none;
  }
}
