<title>{{title}}</title>
<!-- <div class="content"><span>{{title}}</span></div> -->

<app-header></app-header>
<div class="container-fluid">
  <div class="row" style="background-color: #F8F9FA;">
    <div class="col-2">
      <app-documents-list></app-documents-list>
    </div>
    <div class="container col-7 float-right editor-responsive">
      <app-ckeditor></app-ckeditor>
    </div>
  </div>
</div>

<log-test></log-test>
<router-outlet></router-outlet>
